
      <div class="jumbotron text-center p-1" style="border-top-left-radius: 0;border-top-right-radius: 0;">
        <div class="row" style="overflow:hidden;">
          <div class="col-md-4">
            <img src="/robot.gif" class="my-2" style="height:7rem;width:10rem;"/>
          </div>
          <div class="col mt-3 text-center animated bounceInRight">
            <h1>Welcome!</h1>
            <p>See if you can find where the bots are hiding...</p>
          </div>
        </div>

      </div>

      <div class="row">
        <div class="col">
          <h3>Classification Rules</h3>
          <form class="px-4" id="bot-rules-form">
            <div class="form-group">
              <input id="created-before-rule" class="form-check-input" type="checkbox"/>
              <label class="form-check-label" for="created-before-rule">Created Before: <input id="created-before-input" type="number" class="form-control form-control-sm input-sm"/></label>
            </div>
            <div class="form-group">
              <input id="created-after-rule" class="form-check-input" type="checkbox" checked/>
              <label class="form-check-label" for="created-after-rule">Created After: <input id="created-after-input" type="number" class="form-control form-control-sm input-sm" value="2014"/></label>
            </div>
            <div class="form-group">
              <input id="video-uploads-rule" class="form-check-input" type="checkbox" checked/>
              <label class="form-check-label" for="video-uploads-rule">Has Uploaded Videos</label>
            </div>
            <div class="form-group">
              <input id="playlists-rule" class="form-check-input" type="checkbox" checked/>
              <label class="form-check-label" for="playlists-rule">No Playlists</label>
            </div>
            <div class="form-group">
              <input id="subscribers-rule" class="form-check-input" type="checkbox"/>
              <label class="form-check-label" for="subscribers-rule">Has Subscribers</label>
            </div>
            <div class="form-group">
              <input id="subscriptions-rule" class="form-check-input" type="checkbox" checked/>
              <label class="form-check-label" for="subscriptions-rule">No Subscriptions</label>
            </div>
          </form>
        </div>
        {{#if auth}}
        <div class="col">
          <h3>History</h3>
          <ul class="list-group">
          {{#each history}}
            <li class="list-group-item">
              <div class="row">
                <div class="col-md-2">
                  <img class="d-inline" style="height:2rem;width:2rem;" src="{{this.thumbnail_url}}" />
                </div>
                <div class="col">
                  <div class="row">
                    <div class="col">
                      <a href="/home?audit={{this.audit_id}}">{{this.title}}</a>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col">
                      <script>document.write(moment('{{this.audit_date}}').format('YYYY-MM-DD hh:mm:ss a'))</script>
                    </div>
                  </div>
                </div>
              </div>
            </li>
          {{/each}}
          </ul>
        </div>
        {{/if}}
      </div>
      <div class="row">
        <div class="col">
          <div id="progress-row" class="row my-3 d-none">
            <div class="col-2">
              <div id="progress-bar-text"></div>
            </div>
            <div class="col-10">
              <div id="progress-bar" class="ldBar label-center" data-value="0" data-preset="line" data-aspect-ratio="none" style="width:100%;"></div>
            </div>
          </div>
          <div class="row mt-3">
            <div class="col">
              <table id="comments-table" class="table table-dark d-none">
                <thead>
                  <tr>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th>Comment</th>
                    <th>Channel Creation Date</th>
                    <th>Playlists</th>
                    <th>Subscribers</th>
                    <th>Subscriptions</th>
                    <th>Videos</th>
                  </tr>
                </thead>
                <tbody>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script>
      const auditCommentsBlob = decodeURIComponent("{{{videoAudit}}}");
      const auditComments = auditCommentsBlob === ''?null:JSON.parse(auditCommentsBlob);

      function isBot(comment){
        if($('#created-before-rule').is(':checked') && Number(comment.user.creation_date.slice(0,4)) >= Number($('#created-before-input').val())){
          return false;
        }
        if($('#created-after-rule').is(':checked') && Number(comment.user.creation_date.slice(0,4)) < Number($('#created-after-input').val())){
          return false;
        }
        if($('#video-uploads-rule').is(':checked') && Number(comment.user.num_videos) > 0){
          return false;
        }
        if($('#playlists-rule').is(':checked') && Number(comment.user.num_playlists) !== 0){
          return false;
        }
        if($('#subscribers-rule').is(':checked') && Number(comment.user.num_subscribers) > 0){
          return false;
        }
        if($('#subscriptions-rule').is(':checked') && Number(comment.user.num_subscriptions) !== 0){
          return false;
        }
        return true;
      }

      function createCommentsTable(comments){
        // Clear the comments table
        $('#comments-table tbody').html('');

        // Loop through each recieved comment
        for(let i = 0; i < comments.length;i++){
          // Create a new row for each comment and push it onto the table
          $('#comments-table tbody').append(`
          <tr>
            <td>${isBot(comments[i])?'<i class="fa fa-lg fa-robot"></i>':'<i class="fa fa-lg fa-user"></i>'}</td>
            <td><img src="${comments[i].user.thumbnail_url}" /></td>
            <td style="font-weight:bold"><a href="https://youtube.com/channel/${comments[i].user.id}">${comments[i].user.title}</a></td>
            <td>${comments[i].comment.original_text}</td>
            <td>${moment(comments[i].user.creation_date).format('YYY-MM-DD hh:mm:ss a')}</td>
            <td>${comments[i].user.num_playlists}</td>
            <td>${comments[i].user.num_subscribers}</td>
            <td>${comments[i].user.num_subscriptions===null?"private":comments[i].user.num_subscriptions}</td>
            <td>${comments[i].user.num_videos}</td>
          </tr>
          `);
        }

        // Show the comments table by removing the bootstrap CSS class "d-none"
        $('#comments-table').removeClass('d-none');
      }

      let activeComments = [];

      $('#bot-rules-form input[type="checkbox"]').on('input',() => {
        if(activeComments.length){
          createCommentsTable(activeComments);
          toastr.clear();
          toastr.success('Table updated');
        }
      });
      if(auditComments){
        activeComments = auditComments;
        createCommentsTable(auditComments);
      }
    </script>


    <!-- Used for creating progress/loading bars -->
    <script type="text/javascript" src="/js/loading-bar.js"></script>

    <script type="text/javascript">

      private_ns.on('history.response',history => {
        toastr.success(`Instead of showing this notification build a gui from this data ${JSON.stringify(history)}`);
      });

      // When backend message named "audit.response" is recieved
      public_ns.on('audit.response',comments => {
        activeComments = comments;
        createCommentsTable(activeComments);
      });

      // Create progress/loading bar to show user video auditing progress
      const loadingBar = new ldBar('#progress-bar');

      // When backend message named "audit.progress" is recieved
      public_ns.on('audit.progress',data => {

        // Get the variables data.completed and data.total
        const { completed,total } = data;

        // Show the progress information by removing the bootstrap CSS class "d-none"
        $('#progress-row').removeClass('d-none');

        // Update the progress text
        $('#progress-bar-text').html(`<strong>Progress:</strong>&nbsp${completed}/${total}`);

        // Update the loading/progress bar
        loadingBar.set((completed/total)*100);
      });

      // When the "Submit" button is clicked by the user
      $('#audit-btn').click(() => {

        // Clear the active comments
        activeComments = [];

        // Get the value that the user input and store it into the "total" variable
        const total = $('#num-audit-pages').val();

        // Send a message to the backend with the number of pages to retrive and the url that the user input
        public_ns.emit('audit.request',{
          pages: total,
          url: $('#audit-url').val(),
        });

        // Hide the comments table by adding the bootstrap CSS class "d-none"
        $('#comments-table').addClass('d-none');

        // Set the loading/progress bar to 0
        loadingBar.set(0);
      });



    </script>
